<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>
        <img src="/imagen/logo-mercado-liebre.svg" width = "320px" alt="">
    <p>
        Barra de busqueda
    </p>
    <p>
        Compra en cuotas y sin tarjta de credito
    </p>
    <nav>
        <ul>
            <li><a href="/">Ofertas</a></li>
            <li><a href="/">Tiendas Oficiales</a></li>
            <li><a href="/">Vender</a></li>
            <li><a href="/">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/">Crear tu Cuenta</a></li>
            <li><a href="/">Ingresa</a></li>
            <li><a href="/">Mis compras</a></li>
        </ul>
    </nav>
    </header>
    <main>
        <section>
            <img src="/imagen/img-home-banner.jpg" width = "100%" alt="">
        </section>
        <h2>Basado en tu ultima visita</h2>
        <section>
            <article>
                <img src="/imagen/img-cafetera-moulinex.jpg" width = "320px" alt="">
                <span>$6.770</span>
                <span>40% OFF</span>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/imagen/img-macbook-pro-2019.jpg" width = "320px" alt="">
                <span>$230.000</span>
                <span>20% OFF</span>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/imagen/img-samsung-galaxy-s10.jpg" width = "320px" alt="">
                <span>$70.500</span>
                <span>10% OFF</span>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/imagen/img-tv-samsung-smart.jpg" width = "320px" alt="">
                <span>$23.200</span>
                <span>10% OFF</span>
                <h3>SmartTv Samsung 43</h3>
            </article>
        </section>
        <h2>Seccion de Ofertas</h2>
        <section>
            <article>
                <img src="/imagen/img-cafetera-moulinex.jpg" width = "320px" alt="">
                <span>$6.770</span>
                <span>40% OFF</span>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img src="/imagen/img-macbook-pro-2019.jpg" width = "320px" alt="">
                <span>$230.000</span>
                <span>20% OFF</span>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img src="/imagen/img-samsung-galaxy-s10.jpg" width = "320px" alt="">
                <span>$70.500</span>
                <span>10% OFF</span>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img src="/imagen/img-tv-samsung-smart.jpg" width = "320px" alt="">
                <span>$23.200</span>
                <span>10% OFF</span>
                <h3>SmartTv Samsung 43</h3>
            </article>
        </section>
    </main>
    <footer width = "320px">
        <section >
            <h4>Pago con tarjeta en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            <h4>Envio Gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
            <h4>Seguridad, de principio a fin
            </h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
                Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>